.CatCard
{
    width: 180px;
    height: 180px;
    justify-self: center;
    position: relative;
    transition: all 0.4s;
}
.CatCard:hover
{
    box-shadow: 0 15px 20px -10px;
    scale: 110%;
}

@media screen and (min-width: 768px){
  .CatCard
  {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1280px){
  .CatCard
  {
    width: 225px;
    height: 225px;
  }
}

@keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  .fadeOut {
    animation: fadeOut 0.3s ease-out forwards;
  }
